/* styles/login.module.css */
#login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: 1%;
  background-color: #f5f5f5;
}

.container {
  padding: 1rem;
  margin-top: 5%;
}

.card {
  margin-top: 10%;
  background-color: white;
  padding: 2rem;
  max-width: 24rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 0 auto;
}

.cardHeader {
  text-align: center;
  margin-bottom: 2rem; /* Space below the heading */
}

.title {
  font-size: 1.5rem;
  margin: 0; /* Remove default margin */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: 500;
}

.inputContainer {
  background-color: #f1f5f9;
  padding: 0.5rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  height: 100%;
  outline: none;
  background-color: transparent;
  border: none;
}

.passwordContainer {
  display: flex;
  align-items: center;
}

.eyeIcon {
  cursor: pointer;
  font-size: 1.25rem;
}

.forgotPassword {
  display: block;
  margin-left: auto;
  text-align: right;
  color: #f87171;
  text-decoration: none;
  text-decoration: underline;
  cursor: pointer;
}

.button {
  background-color: #dc2626;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 9999px;
  max-width: 9.375rem;
  margin: 1.5rem auto 0;
  text-align: center;
  transition: transform 0.2s;
}

.button:hover {
  background-color: #b91c1c;
  transform: scale(1.1);
}

.signUpLink {
  color: #dc2626;
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
}
.profilePic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.profilePic label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-align: center;
}

.profilePic input[type="file"] {
  display: none;
}

.profilePic label::before {
  content: "Upload Profile Picture";
  display: inline-block;
  border: 2px dashed #ddd;
  border-radius: 50%;
  padding: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

.profilePic label:hover::before {
  background-color: #f8f8f8;
}

.profilePic img {
  max-width: 100%;
  max-height: 200px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}
